@import "tailwindcss";

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .font-data {
    font-family: 'Space Mono', monospace;
  }
}
