# env
.env
*.json.bak

# service account key files (Google Cloud)
*-??????????????????????????????????????????.json

# dependencies
node_modules/
client/node_modules/
server/node_modules/

# build output
client/dist/

# misc
.DS_Store
prospecting-494012-942a43a1d181.json
